h1 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 50px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 5px;
}
h2 {
    font-size: 18px;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 45px;
}
p {
    font-size: 18px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;
}
.content {
    background-color: lightblue;
    width: 100%;
}
.left {
    float: left;
    width: 800px;
    margin-left: 5px;
}
.right {
    float: right;
    width: 865px;
    margin-right: 25px;
}
.image1 {
    max-width: 900px;
    min-height: 600px;
    margin-top: 10px;
}
.image2 {
    float: right;
    max-width: 150px;
    min-height: 250px;
    margin-right: 713px;
}